
@import url('https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');

.work-sans-font {
  font-family: "Work Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400px;
  font-style: normal;
}
/* nav style */
.brand{
    font-size: 3rem;
    font-weight: 700px;
}
nav ul li{
    list-style: none;
}
nav ul li a{
    text-decoration: none;
    color: #424242;
    font-size: 18px;
    font-weight: 500px;
}
.navber{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.nav-links{
    display: flex;
    

}

.list-item{
    margin-right: 30px;
}
/* banner style */
.dark-3{
    color: #727272;
}

.nav-banner{
    margin: 0 auto;
    max-width: 1440px;
}
header{
    background-color: #FFF4E7;

}

.banner-content{
    max-width: 850px;
    margin: 0 auto;
    text-align: center;
    margin-bottom: 50px;
}
.banner-title{
    font-size: 3.5rem;
    font-weight: 700px;
}
.banner-description{
    font-size: 16px;
    color: #727272;
}
.button-primary{
    font-size: 20px;
    font-weight: 500px;
    color: #FFFFFF;
    background-color: #FF900E;
    border-style: none;
    padding: 20px 25px;
    border-radius: 8px;
}
.banner-image{
    width: 100%;
}

/* team and features related style */
main{
    max-width: 1440px;
    margin: 0 auto;
}
.display-flex{
    display: flex;
}
.team{
    align-items: center;
}
.image-container{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 24px;
}
main> section{
    margin-top: 130px;
}
.features-container{
    margin-left: 73px;
    max-width: 530px;
    
}
#quick-list{
    color: #727272;

}
.feature-title{
    font-size: 2.8rem;
}
#feature{
    color: #FF900E;
}
.feature-description{
    font-size: 16px;
}
/* fact-card section */
.fact-card{
    border: 2px solid #FF900E;
    height: 240px;
    width: 240px;
    text-align: center;
    align-items: center;
    justify-content: center;
    border-radius: 5px;
}
.fact-container{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
}
.fact-title{
    font-size: 2.8rem;
    font-weight: 700px;
}
.fact-description{
    font-size: 16px;
    color: #727272;
    max-width: 540px;
    margin-bottom: 100px;
}
.fact-number{
    font-size: 2.8rem;
    font-weight: 600px;
    color: #424242;
    margin-top: 10px;
    margin-bottom: 5px;
}
.fact-name{
    font-size: 20px;
    color: #727272;
    font-weight: 600px;
    margin-top: 10px;
}
/* Sponsor Section */
.sponsor-title{
    font-size: 2.8rem;
}
.sponsor-description{
    font-size: 16px;
    color: #727272;
}
.sponsor-info{
    max-width: 540px;
    margin: 50px auto;
    text-align: center;
    
}
.sponsor-companies{
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    margin-top: 50px;
}
.sponsor-companies img{
    filter: grayscale(100%);
}
/* responsive device */
@media screen and (max-width: 576px) {
    .navber, .nav-links, .team{
        flex-direction: column;
        
    }
    .image-container,
     .fact-container,
     .sponsor-companies
     {
        grid-template-columns: repeat(1, 1fr);
    }
    .fact-container{
        justify-items: center;
        gap: 24px;
    }
    .sponsor-companies{
        gap: 50px;
        justify-items: center;
    }
    .features-container{
        margin-left: 20px;
    }
    
}
/* medium device responsive */
@media screen and (min-width: 576px) and (max-width: 992px) {
    .team{
        flex-direction: column;
    }
    .features-container{
        margin: 50px auto;
    }
    .sponsor-companies{
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        justify-items: center;
        gap: 30px;
    }
    .fact-container{
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        justify-items: center;
        gap: 30px;
    }
    .fact-bundle{
        justify-items: center;
    }
    
}
