
@import url('https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');

.work-sans-font {
  font-family: "Work Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400px;
  font-style: normal;
}
/* nav style */
.brand{
    font-size: 3rem;
    font-weight: 700px;
}
nav ul li{
    list-style: none;
}
nav ul li a{
    text-decoration: none;
    color: #424242;
    font-size: 18px;
    font-weight: 500px;
}
.navber{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.nav-links{
    display: flex;
    

}

.list-item{
    margin-right: 30px;
}
/* banner style */

.nav-banner{
    margin: 0 auto;
    max-width: 1440px;
}
header{
    background-color: #FFF4E7;

}

.banner-content{
    max-width: 850px;
    margin: 0 auto;
    text-align: center;
    margin-bottom: 50px;
}
.banner-title{
    font-size: 4rem;
    font-weight: 700px;
}
.banner-description{
    font-size: 16px;
    color: #727272;
}
.button-primary{
    font-size: 20px;
    font-weight: 500px;
    color: #FFFFFF;
    background-color: #FF900E;
    border-style: none;
    padding: 20px 25px;
    border-radius: 8px;
}
.banner-image{
    width: 100%;
}
/* responsive device */
@media screen and (max-width: 576px) {
    .navber, .nav-links{
        flex-direction: column;
    }
    
}